@using TicketTracker.Application.Comments.Commands;
@using TicketTracker.Application.Tickets;
@model TicketTracker.Application.Tickets.Commands.EditTicket.EditTicketCommand

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit ticket</h3>


<div class="row">
    <div class="col-lg">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input asp-for="CreatedByUserId" class="form-control" type="hidden" />

            <div class="row">
                <div class="col-md-6">

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="Id" readonly>
                        <label asp-for="Id">Ticket number:</label>
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="CreatedByUserName" readonly>
                        <label asp-for="CreatedByUserName">Created by user:</label>
                        <span asp-validation-for="CreatedByUserName" class="text-danger"></span>
                    </div>
            
                    <div class="form-floating mb-3">
                        <input class="form-control"  asp-for="DateCreated" readonly>
                        <label asp-for="DateCreated">Date Created:</label>
                        <span asp-validation-for="DateCreated" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="ProjectConfigurationId" name="ProjectConfigurationId">

                            @foreach (var projConf in ViewData["projectConfigurations"] as IEnumerable<ProjectConfigurationDto>)
                            {
                                
                                if (@projConf.Id == Model.ProjectConfigurationId)
                                {
                                    <option value="@projConf.Id" selected>
                                        @projConf.ProjectName | Environment type: @projConf.EnvironmentType
                                        | Name: @projConf.EnvironmentName
                                    </option>
                                    
                                }
                                else
                                {
                                    <option value="@projConf.Id">
                                        @projConf.ProjectName | Environment type: @projConf.EnvironmentType
                                        | Name: @projConf.EnvironmentName
                                    </option>
                                    
                                }
                            }



                        </select>
                        <label for="ProjectConfigurationId">Project and Environment: </label>
                    </div>

                    <div class="form-floating mb-3">
@*                         <select class="form-select" id="TypeId" name="TypeId" aria-label="Floating label select example">
                            <option value="1">Issue</option>
                            <option value="2">Problem</option>
                            <option value="3">Change</option>
                            <option value="4" selected>Service</option>
                        </select>
                        <label for="TypeId">Ticket type</label> *@

                        <select class="form-select" id="TypeId" name="TypeId">

                            @foreach (var ticketType in ViewData["ticketTypeDtos"] as IEnumerable<TicketTypeDto>)
                            {
                                if (@ticketType.Id == Model.TypeId)
                                {
                                    <option value="@ticketType.Id" selected>@ticketType.TypeName</option>
                                }
                                else
                                {
                                    <option value="@ticketType.Id">@ticketType.TypeName</option>
                                }

                                
                            }



                        </select>
                        <label for="TypeId">Ticket type: </label>
                    </div>

                    <div class="form-floating mb-3">
   @*                      <select class="form-select" id="PriorityId" name="PriorityId" aria-label="Floating label select example">
                            <option value="1">Prio 1</option>
                            <option value="2">Prio 2</option>
                            <option value="3">Prio 3</option>
                            <option value="4" selected>Prio 4</option>
                        </select>
                        <label for="PriorityId">Priority Level</label> *@
                        <select class="form-select" id="PriorityId" name="PriorityId">
                            @foreach (var prio in ViewData["ticketPrioritieDtos"] as IEnumerable<TicketPriorityDto>)
                            {
                                if (@prio.Id == Model.PriorityId)
                                {
                                    <option value="@prio.Id" selected>@prio.PriorityValue</option>                                                                        
                                }
                                else
                                {
                                    <option value="@prio.Id">@prio.PriorityValue</option>                                    
                                }

                            }
                        </select>
                        <label for="PriorityId">Priority Level: </label>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="ShortDescription">
                        <label asp-for="ShortDescription">Short Description:</label>
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>



                    <div class="form-floating mb-3">
                        <textarea class="form-control" style="height: 212px" asp-for="Description"></textarea>
                        <label asp-for="Description">Description:</label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                </div>
            </div>













            <div class="form-group mb-3">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>

        </form>
       


    </div>
</div>


<h3>Comments:</h3>


<div class="row">
    <div class="col-md-6 mb-3">

        <div class="">
        <partial name="_AddNewComment"
                 model="new CreateCommentCommand() {TicketId = Model.Id}" />
         </div>
        <div class="">
                <div id="comments" class="row" data-id="@Model.Id"></div>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/TicketTracker/Edit.js"></script>
}