@using TicketTracker.Application.Comments.Commands;
@using TicketTracker.Application.Tickets;
@model TicketTracker.Application.Tickets.Commands.EditTicket.EditTicketCommand

@{
    ViewData["Title"] = "Edit";
}

<h3>Edit ticket</h3>


<div class="row">
    <div class="col-lg">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <input asp-for="CreatedByUserId" class="form-control" type="hidden" />
            <input asp-for="EditedByUserId" class="form-control" type="hidden" />
            <input asp-for="ProjectConfigurationId" class="form-control" type="hidden" />
            <input asp-for="TypeId" class="form-control" type="hidden" />
            <input asp-for="TicketTypeConfigurationId" class="form-control" type="hidden" />
            <input asp-for="AssignedTeamId" class="form-control" id="AssignedTeamId" type="hidden" /> 
            <input asp-for="AssigningTeamId" class="form-control" id="AssigningTeamId" type="hidden" />
            <input asp-for="LockedByUserName" class="form-control" id="LockedByUserName" type="hidden" />
           @*  <input asp-for="AssignedToUserId" class="form-control" type="hidden" /> *@
            
            <div class="row">
                <div class="col-md-6">

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="Id" readonly>
                        <label asp-for="Id">Ticket number:</label>
                        <span asp-validation-for="Id" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="CreatedByUserName" readonly>
                        <label asp-for="CreatedByUserName">Created by user:</label>
                        <span asp-validation-for="CreatedByUserName" class="text-danger"></span>
                    </div>
            
                    <div class="form-floating mb-3">
                        <input class="form-control"  asp-for="DateCreated" readonly>
                        <label asp-for="DateCreated">Date Created:</label>
                        <span asp-validation-for="DateCreated" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="EditedByUserName" readonly>
                        <label asp-for="EditedByUserName">Last edited by user:</label>                        
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="DateEdited" readonly>
                        <label asp-for="DateEdited">Date Edited:</label>                        
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="ProjectName" readonly>
                        <label asp-for="ProjectName">Project Name:</label>
                        <span asp-validation-for="ProjectName" class="text-danger"></span>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="EnvironmentType" readonly>
                        <label asp-for="EnvironmentType">Environment Type:</label>

                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="EnvironmentName " readonly>
                        <label asp-for="EnvironmentName">Environment Name:</label>

                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="TicketTypeName" readonly>
                        <label asp-for="TicketTypeName">Ticket Type:</label>

                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="TicketSlaConfigurationId" asp-for="TicketSlaConfigurationId">
                           
                            @foreach (var sla in Model.TicketSlaDtos)
                            {
                                <option value="@sla.Id">@sla.Name</option>
                            }

                           @*  <option value="2">Prio 2</option> *@
                        </select>
                      

                        <label asp-for="TicketSlaConfigurationId">Priority Level: </label>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="TicketTypeName" readonly>
                        <label asp-for="TicketTypeName">SLA:</label>

                    </div>

                    <div class="form-floating mb-3">
                        @if (Model.IsUserInEditOnlyTeam)
                        {
                            <input class="form-control" asp-for="TicketStatusName" readonly>
                            <label asp-for="TicketStatusName">Ticket Status:</label>
                            <input asp-for="TicketStatusId" type="hidden" readonly>
                        }
                        else
                        {
                            <select class="form-select" id="TicketStatusId" asp-for="TicketStatusId">

                                <option value="@Model.TicketStatusId">@Model.TicketStatusName</option> 
                                 

                                @foreach (var status in Model.TicketStatusDtos)
                                {

                                    if (Model.IsUserInCreatorTeam && Model.IsUserInAssignedTeam)
                                    {
                                        <option value="@status.StatusId">@status.Name</option>
                                    }
                                    else
                                    {
                                        @if (Model.IsUserInCreatorTeam && status.CreatorCanChangeStatus)
                                        {
                                            <option value="@status.StatusId">@status.Name</option>

                                        }else
                                        {
                                            if (Model.IsUserInCreatorTeam && !status.CreatorCanChangeStatus)
                                            {
                                                <option disabled value="@status.StatusId">@status.Name</option>                                                                                
                                            }
                                        }


                                        if (Model.IsUserInAssignedTeam && status.AssignedUserCanChangeStatus)
                                        {
                                            <option value="@status.StatusId">@status.Name</option>
                                        }else
                                        {
                                            if (Model.IsUserInAssignedTeam && !status.AssignedUserCanChangeStatus)
                                            {
                                                <option disabled value="@status.StatusId">@status.Name</option>                                        
                                            }

                                        }                                    
                                    }
                                }
                               @*  <option value="1" selected="selected">Opened</option> *@
                            </select>
                            <label asp-for="TicketStatusId">Ticket Status:</label>                                
                        }






                        
                        
                        
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="TicketServiceId" asp-for="TicketServiceId" readonly>
                             <option value="@Model.TicketServiceId">@Model.TicketServiceName</option> 
                        </select>
                        <label asp-for="TicketServiceId">Ticket Service:</label>
                    </div>

                    <div class="form-floating mb-3">
                        <select class="form-select" id="TicketSubServiceId" asp-for="TicketSubServiceId">

                           <option value="@Model.TicketSubServiceId">@Model.TicketSubServiceName</option>


                        </select>
                        <label asp-for="TicketSubServiceId">Ticket Sub-Service:</label>
                    </div>

                </div>

                <div class="col-md-6">

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="AssignedTeamName" id="AssignedTeamName" readonly>
                        <label asp-for="AssignedTeamName" >Assigned to Team:</label>
                    </div>
                    
                    <div class="form-floating mb-3">
                        <select class="form-select" id="AssignedToUserId" asp-for="AssignedToUserId">
                            @if (Model.AssignedToUserId == null)
                            {
                                <option value="@Model.AssignedToUserId" data-assignedteamid="@Model.AssignedTeamId" data-assignedteamname="@Model.AssignedTeamName">Waiting for assignment by Ticket Manager</option>
                                foreach (var user in Model.UsersToAssign)
                                {
                                    <option value="@user.UserId" data-assignedteamid="@user.TeamId" data-assignedteamname="@user.TeamName">@user.TeamName | @user.UserEmail</option>
                                }
                            }
                            else
                            {   
                                foreach (var user in Model.UsersToAssign)
                                {
                                    <option value="@user.UserId" data-assignedteamid="@user.TeamId" data-assignedteamname="@user.TeamName">@user.TeamName | @user.UserEmail</option>
                                   
                                }
                            }

                           @*  <option value="0501d923-94c5-4440-bfbc-719bc254871c" data-assignedteamid="1" data-assignedteamname="Line 1" selected="selected">Line 1 | diana.prince@L1.pl</option> *@
                        </select>
                        <label asp-for="AssignedToUserId">Assigned To User:</label>
                    </div>

                    <div class="form-floating mb-3">
                        <input class="form-control" asp-for="ShortDescription">
                        <label asp-for="ShortDescription">Short Description:</label>
                        <span asp-validation-for="ShortDescription" class="text-danger"></span>
                    </div>



                    <div class="form-floating mb-3">
                        <textarea class="form-control" style="height: 212px" asp-for="Description"></textarea>
                        <label asp-for="Description">Description:</label>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                </div>
            </div>













            <div class="form-group mb-3">
                
                 @if (Model.IsEditable == true)
                {
                    <input type="submit" value="Save" class="btn btn-primary" />
                }

            </div>

        </form>
       


    </div>
</div>


<h3>Comments:</h3>

<div class="row">
    <div class="col-md-6 mb-3">
        
        @if (Model.IsAbleToComment == true || Model.IsEditable == true)
        {
            <div class="">
                <partial name="_AddNewComment"
                model="new CreateCommentCommand() {TicketId = Model.Id}" />
            </div>
        }

        <div class="">
                <div id="comments" class="row" data-id="@Model.Id"></div>
        </div>
    </div>

</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

    <script src="~/js/TicketTracker/EditTicket.js"></script>
    <script src="~/js/TicketTracker/Edit.js"></script> 
}


