@model IEnumerable<TicketTracker.Application.Tickets.TicketDetailsDto>

@{
    ViewData["Title"] = "Tickets";
}

<h1>Tickets</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New</a>
</p>
<table class="table table-sm table-striped-columns table-hover">
    <thead>
        <tr>
            <th>
                Number
            </th>
            <th>
                Type
            </th>
            <th>
                Priority
            </th>
            <th>
                Short Description
            </th>
            <th>
                Created
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody class="table-group-divider">
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TypeId)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriorityId)
                </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DateCreated)
                </td>
            <td>
                @* <a href="#" class="btn btn-secondary">Details</a> *@

                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
