@model TicketTracker.Application.Tickets.Commands.EditTicketSummary.EditTicketSummaryCommand

@{
    ViewData["Title"] = "Summary";
}

<div class="container">
    <form asp-action="SaveEditHistoryDetails">
    <div class="row">


            <div class="col-md-4">

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="Id" readonly>
                            <label asp-for="Id">Ticket number:</label>

                        </div>
                    </div>


                </div>

                <div class="row">

                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="ProjectName" readonly>
                            <label asp-for="ProjectName">Project</label>

                        </div>
                    </div>


                </div>

                <div class="row">


                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="EnvironmentName" readonly>
                            <label asp-for="EnvironmentName">Environment name:</label>

                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="EnvironmentType" readonly>
                            <label asp-for="EnvironmentType">Environment Type:</label>

                        </div>
                    </div>


                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="CreatedByUserName" readonly>
                            <label asp-for="CreatedByUserName">Created by user:</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="AssigningTeamName" readonly>
                            <label asp-for="AssigningTeamName">Team</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="DateCreated" readonly>
                            <label asp-for="DateCreated">Date Created:</label>

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="EditedByUserName" readonly>
                            <label asp-for="EditedByUserName">Last edited by user:</label>

                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="DateEdited" readonly>
                            <label asp-for="DateEdited">Last time edited:</label>

                        </div>
                    </div>

                </div>

                <div class="row">

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="TicketTypeName" class="form-control" readonly />
                            <label asp-for="TicketTypeName">Ticket type:</label>
                        </div>

                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="TicketStatusName" class="form-control" readonly />
                            <label asp-for="TicketStatusName">Current status:</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="TicketSlaConfigurationName" class="form-control" readonly />
                            <label asp-for="TicketSlaConfigurationName">Priority Level:</label>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            @if (Model.IsOverdue == true)
                            {
                                <input asp-for="TicketSlaResolutionDate" class="form-control is-invalid" readonly />
                                <label asp-for="TicketSlaResolutionDate">Resolution date:</label>
                            }
                            else
                            {
                                <input asp-for="TicketSlaResolutionDate" class="form-control" readonly />
                                <label asp-for="TicketSlaResolutionDate">Resolution date:</label>
                            }
                        </div>

                        <div class="form-floating mb-3">
                            @if (Model.IsOverdue == true)
                            {
                                <input asp-for="TicketSlaTimeLeft" class="form-control is-invalid" readonly />
                                <label asp-for="TicketSlaTimeLeft">Time ovedue:</label>
                            }
                            else
                            {
                                <input asp-for="TicketSlaTimeLeft" class="form-control" readonly />
                                <label asp-for="TicketSlaTimeLeft">Time left:</label>
                            }

                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="TicketServiceName" class="form-control" readonly />
                            <label asp-for="TicketServiceName">Service:</label>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-floating mb-3">
                            <input asp-for="TicketSubServiceName" class="form-control" readonly />
                            <label asp-for="TicketSubServiceName">Sub-Service:</label>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <input class="form-control" asp-for="ShortDescription" readonly>
                            <label asp-for="ShortDescription">Short Description:</label>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            <textarea class="form-control" style="height: 280px" asp-for="Description" readonly></textarea>
                            <label asp-for="Description">Description:</label>                        
                        </div>                    
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            @if (Model.AssignedTeamId == null)
                            {
                                <input class="form-control" value="Waiting for assignment by Ticket Manager" readonly />
                            }
                            else
                            {
                                <input asp-for="AssignedTeamName" class="form-control" readonly>
                            }
                            <label asp-for="AssignedTeamId">Assigned to Team:</label>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-floating mb-3">
                            @if (Model.AssignedToUserId == null)
                            {
                                <input class="form-control" value="Waiting for assignment by Ticket Manager" readonly />
                            }
                            else
                            {
                                <input class="form-control" asp-for="AssignedToUserName" readonly />

                            }
                            <label asp-for="AssignedToUserName">Assigned to User:</label>
                        </div>
                    </div>
                </div>





                    









   
            </div>


             <div class="col-md-8">

                 <h5>Your changes:</h5>
            
                @for (int i = 0; i < Model.TicketHistory.HistoryDetails.Count; i++)
                {
                    <input type="hidden" asp-for="@Model.TicketHistory.HistoryDetails[i].Id" readonly>
                    <input type="hidden" asp-for="@Model.TicketHistory.HistoryDetails[i].TicketHistoryId" readonly>
                    <input type="hidden" asp-for="@Model.TicketHistory.HistoryDetails[i].TicketPropertyName" readonly>
              
                    
              



                    <div class="card  mb-3">

                        <h6 class="card-header">@Model.TicketHistory.HistoryDetails[i].TicketPropertyDisplayName</h6>
                        <div class="row g-0">
                            <div class="col-md-6">
                                <div class="card-body">
                                    <h6 class="card-title">Before change:</h6>
                                    <p class="card-text">
                                        <input type="hidden" asp-for="TicketHistory.HistoryDetails[i].PropertyOldValue" readonly>

                                        @if (@Model.TicketHistory.HistoryDetails[i].TicketPropertyName == "Description")
                                        {
                                            <textarea class="form-control" style="height: 212px" asp-for="TicketHistory.HistoryDetails[i].PropertyOldValue" readonly></textarea>                                            
                                        }
                                        else
                                        {
                                            <input class="form-control" asp-for="TicketHistory.HistoryDetails[i].PropertyOldDisplayValue" readonly>
                                        }                                    
                                    
                                    </p>
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="card-body">
                                    <h6 class="card-title">After change:</h6>
                                    <p class="card-text">
                                       <input type="hidden" asp-for="TicketHistory.HistoryDetails[i].PropertyNewValue" readonly>
                                    
                                        @if (@Model.TicketHistory.HistoryDetails[i].TicketPropertyName == "Description")
                                        {
                                            <textarea class="form-control" style="height: 212px" asp-for="TicketHistory.HistoryDetails[i].PropertyNewValue" readonly></textarea>                                            
                                        }
                                        else
                                        {
                                            <input class="form-control" asp-for="TicketHistory.HistoryDetails[i].PropertyNewDisplayValue" readonly>
                                        }

                                    </p>                                    
                                </div>
                            </div>
                        </div>
                        <div class="row g-0">
                            <div class="col-md-12">
                                <div class="card-body">
                                    <textarea class="form-control" placeholder="Optional related comment" asp-for="@Model.TicketHistory.HistoryDetails[i].Comment"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                <br/>
                }
                <div class="col-md-12">
                    <div class ="form-floating mb-3">
                        <textarea class="form-control" style="height: 212px" asp-for="TicketHistory.SummaryComment"></textarea>
                        <label asp-for="TicketHistory.SummaryComment">Summary comment:</label>
                    </div>
                </div>

                <div class="form-group">
                    <input type="submit" value="Save Changes" class="btn btn-primary" />
                </div>
            </div>
    </form>


   


 
    </div>
 </div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
